@font-face {
    font-family: "Liberation";
    src: url("/static/res/LiberationSans-Regular.ttf");
}

body {
    background:
        url(/static/res/s13.png) 50% 20px no-repeat,
        linear-gradient(to bottom, rgb(50,75,55) 0%,
            rgb(255,255,255) 100%) fixed;
    font-family: Liberation;
    margin: 0px;
    padding: 80px 0px 5px 0px;
}
    body > * {
        margin: auto;
        margin-bottom: 10px;
        width: 920px;
    }
    body > footer {
        background: linear-gradient(to top, rgb(255,255,255) 0%,
            rgba(255,255,255,0));
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        clear: both;
        padding: 10px;
        text-align: center;
    }
        body > footer p { font-size: 11px; }
h1, h2, h3, h4 { margin: 0px; }
h1 {
    color: rgb(255,255,255);
    font-size: 18px;
    font-weight: normal; 
    padding: 10px;
    text-align: center;
    text-shadow: 0px 0px 2px rgb(0,0,0);
}
h2 {
    font-size: 10px;
    text-transform: uppercase;
}
    h2 > small {
        float: right;
        font-weight: normal;
    }
h3 {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
hr {
    background: rgb(255,255,255);
    border: 0px;
    display: block;
    height: 1px;
}
p {
    font-size: 12px;
}

/*
section > h2 {
    left: -99999px;
    position: absolute;
    top: -99999px;
}
*/

a:link, a:visited { color: rgb(100,100,100); text-decoration: none; }
a:focus, a:hover { text-decoration: underline; }

.admin-navigation {
    background: linear-gradient(to bottom, rgb(255,255,255) 0%,
        rgba(255,255,255,0));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    list-style-type: none;
    margin: 0px -10px;
    padding: 10px 10px 15px 10px;
    text-align: center;
}
    .admin-navigation li {
        flex-grow: 1;
        margin: 0px;
        padding: 0px;
    }
    .admin-navigation a:link, .admin-navigation a:visited {
        background: rgb(80,100,80);
        border: 1px rgba(80,100,80,0.5) solid;
        border-radius: 5px;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.8);
        color: rgb(255,255,255);
        display: block;
        font-size: 11px;
        margin: 0px 5px;
        padding: 6px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .admin-navigation a:focus, .admin-navigation a:hover {
        background: rgb(255,255,255);
        box-shadow: 1px 1px 2px rgba(255,255,255,0.5);
        color: rgb(100,100,100);
    }


.model-item {  /* Appears in list views. */
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    display: flex;
    overflow: hidden;
}
    .model-item-summary {
        margin: 5px 0px;
        padding-top: 5px;
        width: 75%;
    }
        .model-item-summary dt {
            border-bottom: 1px rgba(140,100,140,0.1) solid;
            color: rgb(140,100,140);
            font-size: 9px;
            margin: 0px 0px 5px 15px;
            padding: 10px 10px 5px 5px;
            text-transform: uppercase;
        }
        .model-item-summary dd {
            font-size: 12px;
            margin: 0px;
            padding: 0px 10px 5px 20px;
        }
            .model-item-summary dd:nth-of-type(1) {
                color: rgb(80,100,80);
                font-size: 15px;
            }
            .model-item-summary dd.pre {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre;
            }
        .model-item-summary ul {
            list-style-type: square;
            padding: 0px 0px 10px 20px;
        }
            .model-item-summary ul small {
                margin-right: 9px;
            } 
    .model-item-actions { flex-grow: 1; }


.pagination {
    align-items: center;
    display: flex;
}
    .pagination a {
        width: 100px;
    }
    .pagination span {
        flex-grow: 1;
        font-size: 9px;
        text-transform: uppercase;
    }

.stats-display {
    border-bottom: 1px rgb(255,255,255) solid;
}
    .stats-display > dl {
        border: 1px rgb(100,80,100) solid;
        border-radius: 8px;
        color: rgb(255,255,255);
        display: flex;
        font-size: 10px;
        margin-bottom: 5px;
        margin-top: 0px;
        overflow: hidden;
    }
        .stats-display dt {
            background: rgb(100,80,100);
            padding: 5px;
            text-align: center;
            width: 20%;
        }
        .stats-display dd {
            background: rgb(160,120,60);
            margin: 0px;
        }
            .stats-display div { padding: 5px 8px; }
    .stats-display p {
        font-size: 10px;
        text-align: center;
    }
        .stats-display p > span {
            margin: 0px 5px;
        }


#main-block {
    display: flex;
}
    #main-block > * > * { margin: 10px; }
    
    #main-block nav {
        background: rgba(255,255,255,0.5);
        font-size: 12px;
        padding: 10px 0px;
        text-align: center;
    }
        #main-block nav h3 {
            margin: 0px;
            padding: 0px 20px;
        }
        #main-block nav a, .form-bottom a {
            border-radius: 5px;
            display: block;
            font-size: 9px;
            margin: 5px 20px;
            padding: 5px;
            text-decoration: none;
            text-transform: uppercase;
        }
            .form-bottom a {
                display: inline-block;
                font-size: 10px;
                margin: 5px 2px;
                padding: 4px 10px;
            }
        #main-block nav a:link, #main-block nav a:visited,
        .form-bottom a:link, .form-bottom a:visited {
            background: rgb(100,80,100);
            border: 1px rgba(100,80,100,0.5) solid;
            color: rgb(255,255,255);
        }
            #main-block nav a.highlight, .form-bottom a.highlight {
                background: rgb(160,120,60);
                font-size: 10px;
                padding: 10px 5px;
            }
            #main-block nav a.lowlight, .form-bottom a.lowlight {
                background: rgb(50,50,50);
            }
        #main-block nav a:focus, #main-block nav a:hover,
        .form-bottom a:focus, .form-bottom a:hover {
            background: rgb(255,255,255);
            box-shadow: 1px 1px 2px rgba(255,255,255,0.5);
            color: rgb(200,200,200);
        }
    
    #sidebar {
        background: rgba(255,255,255,0.4);
        border: 1px rgba(255,255,255,0.6) solid;
        margin: 0px 5px 0px -10px;
        width: 280px;
    }
    #main-interface {
        background: rgba(255,255,255,0.4);
        border: 1px rgba(255,255,255,0.6) solid;
        margin: 0px -10px 0px 5px;
        width: 680px;
    }


#system-messages {
    background: linear-gradient(to bottom,
        rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0));
    margin-top: -5px;
    width: auto;
}
    #system-messages ul {
        font-size: 11px;
        list-style-type: none;
        margin: 15px auto;
        padding: 0px;
        width: 480px;
    }
    #system-messages li {
        background: rgba(255,255,255,0.8);
        border: 1px rgb(255,255,255) solid;
        border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(255,255,255,0.5);
        margin-bottom: 6px;
        padding: 6px 12px;
    }
        #system-messages li.info span:before {
            content: "✢ "; font-size: 14px; font-weight: bold; margin-right: 5px;
        }
    #system-messages li.success { background: rgba(180,200,180,0.8); }
        #system-messages li.success span:before {
            content: "✓ "; font-size: 14px; font-weight: bold; margin-right: 5px;
        }
    #system-messages li.warning { background: rgba(200,200,180,0.8); }
        #system-messages li.warning span:before {
            content: "! "; font-size: 14px; font-weight: bold; margin-right: 5px;
        }
    #system-messages li.error { background: rgba(200,180,180,0.8); }
        #system-messages li.error span:before {
            content: "✕ "; font-size: 14px; font-weight: bold; margin-right: 5px;
        }


/* ------------ Forms-related styling */
form {
    background: rgba(255,255,255,0.5);
    padding:10px 0px;
}
    form div { font-size: 11px; }
fieldset {
    border: 1px rgb(200,200,200) solid;
    margin: 10px;
    padding-bottom: 0px;
    padding-top: 20px;
}
    legend {
        font-size: 12px;
    }
label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 0px 15px;
}
    label strong { color: rgb(200,0,0); }
input, select, textarea {
    background: rgb(255,255,255);
    border: 1px rgb(200,200,200) solid;
    border-radius: 5px;
    cursor: pointer;
    font-family: Liberation;
    font-size: 11px;
}
    option { font-family: Liberation; font-size: 12px; }
input[type="text"], input[type="password"], input[type="email"],
input[type="number"], select, textarea {
    display: block;
    padding: 5px;
    width: 100%;
}
    input[type="number"] { padding: 7px 0px 7px 5px; width: 40%; }
input[type="submit"], input[type="button"], input[type="reset"],
input[type="file"] {
    background: rgb(100,80,100);
    border: 1px rgba(100,80,100,0.5) solid;
    color: rgb(255,255,255);
    font-size: 10px;
    padding: 4px 10px;
    margin: 5px 2px;
    text-transform: uppercase;
}
    input[type="reset"] {
        background: rgb(50,50,50);
        border-color: rgb(50,50,50);
    }
    input[type="submit"]:hover, input[type="button"]:hover,
    input[type="reset"]:hover {
        background: rgb(255,255,255);
        box-shadow: 1px 1px 2px rgba(255,255,255,0.5);
        color: rgb(100,100,100);
    }

.field-errors {
    list-style-type: none;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
    .field-errors li {
        background: rgb(100,80,80);
        border-radius: 5px;
        color: rgb(255,255,255);
        margin : 0px -12px 5px 0px;
        padding: 5px 10px;
    }
.field-holder { margin: 0px 25px 0px 10px; padding: 4px 0px 0px 0px; }
.form-bottom {
    border-top: 1px rgb(200,200,200) solid;
    clear: both;
    margin: 0px 10px 0px 10px;
    padding: 5px 20px;
    text-align: right;
}
.form-description { margin: 0px; padding: 10px 20px 20px 20px; }
.form-group { padding-bottom: 20px; }
.form-group-inline {
    align-items: center;
    display: flex;
    padding-bottom: 10px;
}
    .form-group-inline label { width: 120px; }
.help-text {
    color: rgb(50,50,50);
    font-size: 11px;
    font-style: italic;
    margin: 0px 20px;
    padding: 0px;
}

#login-form {
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin: auto;
    padding: 15px 20px;
    width: 300px;
}

#search-form .form-bottom { border: 0px; margin-top: -10px; }
