{% extends 'admin/_base.html' %}

{% block sidebar -%}
    {% include 'admin/sidebars/nav_socmed.html' %}
{%- endblock %}


{% block main_interface -%}
<h2>{{ ui_title }}</h2>

    {% for item in object_list %}
<div class="model-item">
    <dl class="model-item-summary">
        {%- if mode == 'apikey' %}
        <dt>API Key</dt>
        <dd>{{ item.key }}</dd>
        <dt>Label</dt>
        <dd>{{ item.label }}</dd>
        {%- endif %}
    </dl>
    <nav class="model-item-actions">
        {%- if mode == 'apikey' %}
        <a href="{{ reverse('s13admin:socmedapikeys_update', args=[item.pk, ]) }}">Update</a>
        <a href="{{ reverse('s13admin:socmedapikeys_delete', args=[item.pk, ]) }}">Delete</a>
        {%- endif %}
    </nav>
</div>
    {% endfor %}
{% endblock %}
