{% extends 'admin/_base.html' %}

{% block sidebar -%}
    {%- for bar in sidebars -%}
        {% include 'admin/sidebars/' + bar + '.html' %}
    {%- endfor %}
{%- endblock %}

{% block main_interface -%}
<h2>Available Contact Information</h2>
    {% for info in object_list %}
<div class="model-item">
    <dl class="model-item-summary">
        <dt>Contact Name</dt>
        <dd>{{ info.contact_name }}</dd>
        <dt>Email</dt>
        <dd>{{ info.email }}</dd>
        <dt>Phone</dt>
        <dd>{{ info.phone }}</dd>
        <dt>Address</dt>
        <dd>{{ info.address|safe }}</dd>
    </dl>
    <nav class="model-item-actions">
        <h3>Actions</h3>
        <a href="{{ reverse('s13admin:update_contact_info', args=[info.pk]) }}">Update</a>
        <a href="{{ reverse('s13admin:delete_contact_info', args=[info.pk]) }}" class="lowlight">Delete</a>
    </nav>
</div>
    {%- endfor %}
{%- endblock %}
