{% extends 'defaults/_base.html' %}

{% block window_title %}{{ s.window_title|safe }}: {{ s.nohome_title }}{% endblock %}
{% block body_id %}body-no-homepage{% endblock %}
{% block article_title %}{{ s.nohome_title }}{% endblock %}

{% block html_body %}
    {%- if s.nohome_content_type  == 'sections': %}
    <section id="section-summary">
        <h2>Summary of Website Sections</h2>
        {%- for s in sections: %}
        <div>
            <div class="section-image">
            {%- if s.image: -%}
                <img src="{{ s.image|safe }}" alt="Section cover image." class="section-image" />
            {%- else -%}
            </div>
            {%- endif %}
            <h3><a href="{{ s.make_url()|safe }}">{{ s.title|safe }}</a></h3>
            <p>{{ s.description|safe }}</p>
            <div class="clearer"></div>
        </div>
        {%- endfor %}
    </section>
    {%- elif s.nohome_content_type  == 'articles': %}
    <section id="articles-summary">
        <h2>Latest Articles</h2>
        {%- for a in articles.object_list: %}
        <article>
            <header><h1>{{ a.title|safe }}</h1></header>
            {{- a.body|safe }}
        </article>
        {%- endfor %}
        
        {{ h.make_paginator_nav(articles, reverse('s13cms:homepage'))|safe }}
    </section>
    {%- elif s.nohome_content_type  == 'custom_html': %}
    <section id="custom-content">
        <h2>Custom Content</h2>
        {{ s.nohome_custom|safe }}
    </section>
    {%- else %}
    
    {%- endif %}
{%- endblock %}
